.footer {
    background-color: var(--bg-black);
    padding: 24px 0;
    // margin-top: 88px;

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.8;
        text-transform: capitalize;
        color: var(--neutral-graycbcbcb);
        margin-left: 32px;
    }
}

