.content {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr; 
    grid-template-rows: repeat(3, auto);

    & > :not(:first-child) {
        // padding: 20px 20px 0 20px;
        padding: 20px 20px;
    }

    &__img {
        grid-row: span 3; 
        grid-column: 1; 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .row-1 {
        grid-column: 2 / span 2;
        grid-row: 1; 
        display: flex;
        align-items: center; 
        gap: 10px;

        & > :last-child {
            font-size: 42px;
        }
    }

    .row-2 {
        grid-row: 2; 
        grid-column: 2 / span 2; 
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        align-items: center;

        &__available {
            color: #1c825b;
            font-weight: bold;
            font-size: 14px;
        }

    }

    .row-3 {
        grid-row: 3;
        grid-column: 2 / span 2;
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px;
        text-align: center;

        &__edit {
            grid-column: 1; 
            font-weight: bold;
            text-decoration: underline;
            font-size: 14px;
        }

        .price {
            grid-column: 3 / span 2; 
            display: grid; 
            grid-template-columns: repeat(2, 1fr); 

            &__new {
                color: red;
                
            }

            &__prev {
                text-decoration: line-through;
            }

        }
    }
}